p.mandatory {
    text-align: right;
    font-size: 12px;
    margin-bottom: 0px;
}

body {
   font-family: Arial, sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
   color: #000;
   background-color: #f6f6f6;
   /*padding-bottom: 163px;*/
}

.navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  margin-bottom: 0px;
}

.navbar a {
  text-decoration: none;
}

.navbar-header ul {
  padding: 0px;
}

.logo {
  width: 89px;
  height: 30px;
}

h1 {
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  #toc.toc {
      margin-top: 0!important;
      background-color: #f8f8f7;
      position: fixed;
      max-width: 20em;
      min-width: 15em;
      left: 0;
      top: 80px;
      border-right: 1px solid #efefed;
      border-top-width: 0!important;
      border-bottom-width: 0!important;
      z-index: 2;
      padding: 1.25em 1em;
      height: 100%;
      overflow: auto;
  }
}

@media (min-width: 768px) {
  .container-fluid > .navbar-header {
    margin-top: 0px;
  }
}

#toc #toctitle {
  display: none;
}

#toc > ul > li:nth-child(1) a {
  color: #FF5050;
  font-size: 1.4em;
  line-height: 1.2;
  word-spacing: -.05em;
  font-family: "Open Sans","DejaVu Sans",sans-serif;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}

#toc > ul li {
  padding-bottom: 10px;
  font-size: 1.2em;
}
#toc > ul li > ul li {
  font-size: 0.9em;
  padding-bottom: 0px;
}

.container {
  padding-top: 110px;
  margin-left: 20em;
  width: auto; 
}

.minimizeHeight .content {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  height: 200px;
  overflow: auto;
}

.listingblock.blockShow > .content, .listingblock.blockShow + .colist {
  display: block;
}

.listingblock.blockHide > .content, .listingblock.blockHide + .colist {
  display: none;
}

.listingblock.blockHide > .title > .display-action,
.listingblock.blockShow > .title > .display-action {
  cursor: pointer;
  padding-left: 10px;
  text-decoration: underline;
  color: #00D2F8;
}

.literalblock.minimizeHeight pre.nowrap, .literalblock.minimizeHeight pre[class].nowrap, .listingblock.minimizeHeight pre.nowrap, .listingblock.minimizeHeight pre[class].nowrap,
.literalblock.minimizeHeight pre.nowrap code, .literalblock.minimizeHeight pre[class].nowrap code, .listingblock.minimizeHeight pre.nowrap code, .listingblock.minimizeHeight pre[class].nowrap code {
  overflow: unset;
}

.literalblock.minimizeHeight pre.nowrap.CodeRay, .literalblock.minimizeHeight pre[class].nowrap.CodeRay, .listingblock.minimizeHeight pre.nowrap.CodeRay, .listingblock.minimizeHeight pre[class].nowrap.CodeRay {
  border: none;
}

.well {
  background-color: #f6f6f6;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

.well h1 {
  display: none;
}

.well a {
  text-decoration: underline;
}

/*information/loading text in navbar*/
.text-warning, .text-info, .text-error {
  padding-top:15px;
  font-weight: bold;
  font-size: 16px;
}
.text-warning {
  color: #FFB400;
}
.text-info {
  color: #FFFFFF;
}
.text-error {
  color: #FF4F4F;
}

/* submenu display part */
.submenu {
  z-index: 998;
  position: fixed;
  width: 100%;
  top: 52px;
  left: 0px;
  margin-left: 0px;
  padding-left: 57px;
  background-color: #666666;
  display: none;
}

.submenu.active {
  display: block;
}

.btn {
  text-align: left;
}

/* computer resolution */
@media (min-width: 768px) {
  li.active + .submenu,
  li.dropdown.active > .submenu.active {
    display: block;
  }
  .container {
    padding-top: 70px;
  }
}

/* smartphone resolution */
@media (max-width: 767px) {
  .collapse[aria-expanded='false'] > ul > li.active {
    display: block;
  }
  .submenu {
    padding-left: 0px;
  }
  #navbar.in ~ .submenu.active,
  #navbar.collapsing ~ .submenu.active {
    display: none;
  }
  .container {
    margin-left: 1em;
  }
}

.submenu > h4 {
  display: inline;
  font-weight: bold;
  margin: 0px 20px;
  color: #00bee6;
}
.submenu > h4 > a {
  color: inherit;
}
.submenu > h4 ~ ul {
  display: inline-block;
}
.submenu ul {
  padding: 6px 0px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  box-sizing: border-box;
  margin: auto;
}

.submenu li,
.submenu li a {
  left: auto;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  box-sizing: border-box;
}

.submenu li {
  height: inherit;
  padding: 5px 10px;
  display: inline-block;
}

.submenu li a {
  overflow: auto;
  color: white;
  display: inline;
  font-weight: normal;
  font-size: 1em;
}

.navbar .submenu > .nav > li > a {
  font-weight: normal;
  font-size: 1.2em;
}

.submenu li a:active,
.submenu li a:hover,
.submenu li a:focus {
  background: transparent !important;
}

.submenu li.active a,
.submenu li.active a:active,
.submenu li.active a:hover,
.submenu li.active a:focus {
  color: #00bee6;
  border-bottom: none;
  background: transparent !important;
}


@media screen and (max-width: 767px) { 
  video{
    width : 100% ;
    max-width : 100% ;
  }  
}

h2 {
  border-bottom : 2px : solid #666666 ;
}
